COMPOSE_PROJECT_NAME=aloevera-centar-local

WP_PORT=8080
PMA_PORT=8081
PLATFORM_PORT=8082
LOCAL_SITE_URL=http://localhost:8080

DB_NAME=wp902
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=root
WP_TABLE_PREFIX=wpru_
PLATFORM_DB_NAME=avc_platform
PLATFORM_DB_USER=avc_platform
PLATFORM_DB_PASSWORD=avc_platform
PLATFORM_ADMIN_EMAIL=admin@example.com
PLATFORM_ACTIVE_FOREVER_ID=

AVC_MAIL_TRANSPORT=brevo_api
AVC_MAIL_FROM_EMAIL=info@forevercard.club
AVC_MAIL_FROM_NAME=Aloe Vera Centar
AVC_MAIL_REPLY_TO_EMAIL=info@forevercard.club
AVC_MAIL_REPLY_TO_NAME=Aloe Vera Centar
AVC_BREVO_API_KEY=
AVC_BREVO_API_BASE_URL=https://api.brevo.com/v3
AVC_SMTP_HOST=mail.forevercard.club
AVC_SMTP_PORT=465
AVC_SMTP_ENCRYPTION=ssl
AVC_SMTP_USERNAME=info@forevercard.club
AVC_SMTP_PASSWORD=

WORDPRESS_IMAGE=wordpress:6.5.5-php8.1-apache
MARIADB_IMAGE=mariadb:11.4
PHPMYADMIN_IMAGE=phpmyadmin:5.2-apache
PLATFORM_IMAGE=php:8.3-apache
