AVC_APP_NAME="Aloe Vera Centar"
AVC_BASE_URL=https://aloevera-centar.com
AVC_DEFAULT_LANGUAGE=hr
AVC_SUPPORTED_LANGUAGES=hr,en,sl

AVC_ADMIN_NOTIFICATION_EMAIL=belosa.flp@bmail.com
AVC_ACTIVE_FOREVER_ID=360000760944
AVC_OPS_READONLY_ENABLED=0
AVC_OPS_READONLY_KEY=

AVC_DB_HOST=localhost
AVC_DB_PORT=3306
AVC_DB_NAME=
AVC_DB_USER=
AVC_DB_PASSWORD=

AVC_MAIL_TRANSPORT=smtp
AVC_MAIL_FROM_EMAIL=info@aloevera-centar.com
AVC_MAIL_FROM_NAME="Aloe Vera Centar"
AVC_MAIL_REPLY_TO_EMAIL=info@aloevera-centar.com
AVC_MAIL_REPLY_TO_NAME="Aloe Vera Centar"
AVC_BREVO_API_KEY=
AVC_BREVO_API_BASE_URL=https://api.brevo.com/v3
AVC_SMTP_HOST=
AVC_SMTP_PORT=465
AVC_SMTP_ENCRYPTION=ssl
AVC_SMTP_USERNAME=
AVC_SMTP_PASSWORD=
